@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2> - this web site project.</h2>
</hgroup>

<article>
    <p>
        This web site is an example of the JavaScript project, that can be run to find out the keyCode and work on them. Most of the times developers like to block a key or to perform a function upon some key event. This provides the basic understanding of getting the keyCode from an event to work on it. 
    </p>
</article>

<aside>
    <h3>Source Code and Developer</h3>
    <p>
        You can get the Source code for this project, or contact me...
    </p>
    <ul>
        <li><a href="~/">Home (demo)</a></li>
        <li><a href="~/#">CodeProject (From where you might have downloaded the source code.)</a></li>
        <li><a href="http://www.facebook.com/afzaal.ahmad.zeeshan">Facebook (My Account)</a></li>
        <li><a href="http://github.com/afzaal-ahmad-zeeshan">GitHub (My Account)</a></li>
        <li><a href="http://plus.google.com/+AfzaalAhmadZeeshan">Google+ (My Account)</a></li>
    </ul>
</aside>