@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<div>
    <h1 style="text-align: center;"><a href="~/" style="padding: 0; margin: 0; background-color: transparent;">Detect Keys Pressed</a></h1>
    <p>Press any key, and its keyCode will be displayed below.</p>
</div>

<div style="font-family: Consolas; font-size: 100pt; color: #000; text-align: center; font-weight: lighter">
    <p id="result">&nbsp;</p>
</div>